* {
    padding: 0;
	margin: 0;
}



body {
	grid-gap: 2em;
	display: grid;
	grid-template-columns: 1fr 1fr ;
	grid-template-areas: 
"voeg verwijder"
"num-1 num-2"
"num-3 num-4"
"num-5 num-6"
"num-7 num-8"
"num-9 num-10"
;

}
 
#voeg {grid-area: voeg; }
#verwijder {grid-area: verwijder; }
#num-1 {grid-area: num-1; }
#num-2  {grid-area: num-2; }
#num-3  {grid-area: num-3; }
#num-4  {grid-area: num-4; }
#num-5  {grid-area: num-5 ; }
#num-6  {grid-area: num-6; }
#num-7  {grid-area: num-7; }
#num-8  {grid-area: num-8; }
#num-9  {grid-area: num-9; }
#num-10  {grid-area: num-10; }



#num-1 , #num-2 , #num-3 , #num-4 , #num-5 , #num-6, #num-7 , #num-8 , #num-9 , #num-10 {
text-align: center;
font-size: 150%;
padding: 20px;
background-color: #efefef;
border-radius: 40px;
}

img {
	width: 100%;
	border-radius: 20px;
}

button {
	margin: 10px;
	padding: 20px;
	background-color: black;
	color: white;
	font-size: 20px;
	border-top: transparent;
	border-left: transparent;
	border-right: transparent;
	border-bottom: transparent;
	transition: 1s;
}

.groen:hover {
	background-color: green;
}

.rood:hover {
	background-color: red;
}